#bottom-menu
  %ul
    %li
      %a{:href => "#div1", :class => "nav"} Home
    %li
      %a{:href => "#div2", :class => "nav"} Presentation
    %li
      %a{:href => "#div3", :class => "nav"} Suivre la course
    %li
      %a{:href => "#div4", :class => "nav"} Actualites
    %li
      %a{:href => "#div5", :class => "nav"} Medias
    %li
      %a{:href => "#div6", :class => "nav"} La WEBTV
    %li
      %a{:href => "#div8", :class => "nav"} boutique
    %li
      %a{:href => "#div9", :class => "nav"} espace presse
  #partenaires