#side_pannel
  #participant
    #hs-container.hs-container
      .hs-content-scroller
        %a#close{:href => "#"} fermer
        .hs-content-wrapper
          %article.hs-content
            .hs-inner
              %ul
                %li
                  %img{:alt => "#", :src => image_path("thumbs/ab.png")}
                  %p
                    %span ARNAUD BOISSIÉRES
                    Akena Vérandas
                    %br/
                    Nationalité :
                    %span Française
                    %br/
                    Résidence :
                    %span La Teste de Buch (Gironde)
                    %br/
                    Année de naissance :
                    %span né en 1972
                    %br/
                %li
                  %img{:alt => "#", :src => image_path("thumbs/sd.png")}
                  %p
                    %span Samantha Davies
                    Savéol
                    %br/
                    Nationalité :
                    %span Anglaise
                    %br/
                    Résidence :
                    %span Concarneau (Finistère)
                    %br/
                    Année de naissance :
                    %span né en 1974
                    %br/
                %li
                  %img{:alt => "#", :src => image_path("thumbs/kdp.png")}
                  %p
                    %span Kito de Pavant
                    Groupe Bel
                    %br/
                    Nationalité :
                    %span Française
                    %br/
                    Résidence :
                    %span Montferrier sur Lez
                    %br/
                    Année de naissance :
                    %span né en 1961
                    %br/
                %li
                  %img{:alt => "#", :src => image_path("thumbs/jbd.png")}
                  %p
                    %span Jean-Baptiste Dejeanty
                    %br/
                    Nationalité :
                    %span Française
                    %br/
                    Résidence :
                    %span Port-Louis (Morbihan)
                    %br/
                    Année de naissance :
                    %span né en 1978
                    %br/
                %li
                  %img{:alt => "#", :src => image_path("thumbs/adb.png")}
                  %p
                    %span Alessandro Di Benedetto
                    Akena Vérandas
                    %br/
                    Nationalité :
                    %span Française
                    %br/
                    Résidence :
                    %span Les Sables d'Olonne
                    %br/
                    Année de naissance :
                    %span né en 1971
                    %br/
                %li
                  %img{:alt => "#", :src => image_path("thumbs/jpd.png")}
                  %p
                    %span Jean-Pierre Dick
                    Virbac-Paprec 3
                    %br/
                    Nationalité :
                    %span Française
                    %br/
                    Résidence :
                    %span Larmor-Plage (Morbihan)
                    %br/
                    Année de naissance :
                    %span né en 1965
                    %br/
                %li
                  %img{:alt => "#", :src => image_path("thumbs/fg.png")}
                  %p
                    %span François Gabart
                    Macif
                    %br/
                    Nationalité :
                    %span Française
                    %br/
                    Résidence :
                    %span La Forêt Fouesnant
                    %br/
                    Année de naissance :
                    %span né en 1983
                    %br/
                %li
                  %img{:alt => "#", :src => image_path("thumbs/mg.png")}
                  %p
                    %span Mike Golding
                    Gamesa
                    %br/
                    Nationalité :
                    %span Française
                    %br/
                    Résidence :
                    %span Southampton, Hampshire
                    %br/
                    Année de naissance :
                    %span né en 1960
                    %br/
                %li
                  %img{:alt => "#", :src => image_path("thumbs/mgu.png")}
                  %p
                    %span MARC GUILLEMOT
                    Safran
                    %br/
                    Nationalité :
                    %span Française
                    %br/
                    Résidence :
                    %span St Philibert
                    %br/
                    Année de naissance :
                    %span né en 1959
                    %br/
                %li
                  %img{:alt => "#", :src => image_path("thumbs/ac.png")}
                  %p
                    %span ARMEL LE CLÉACH
                    Banque Populaire
                    %br/
                    Nationalité :
                    %span La Forêt Fouesnant
                    %br/
                    Résidence :
                    %span La Teste de Buch (Gironde)
                    %br/
                    Année de naissance :
                    %span né en 1977
                    %br/
                %li
                  %img{:alt => "#", :src => image_path("thumbs/vr.png")}
                  %p
                    %span VINCENT RIOU
                    PRB
                    %br/
                    Nationalité :
                    %span Française
                    %br/
                    Résidence :
                    %span Palma de Mallorca
                    %br/
                    Année de naissance :
                    %span né en 1969
                    %br/
                %li
                  %img{:alt => "#", :src => image_path("thumbs/js.png")}
                  %p
                    %span JAVIER SANSO
                    Acciona
                    %br/
                    Nationalité :
                    %span Française
                    %br/
                    Résidence :
                    %span La Teste de Buch (Gironde)
                    %br/
                    Année de naissance :
                    %span né en 1972
                    %br/
                %li
                  %img{:alt => "#", :src => image_path("thumbs/bs.png")}
                  %p
                    %span BERNARD STAMM
                    Cheminées Poujoulat
                    %br/
                    Nationalité :
                    %span Française
                    %br/
                    Résidence :
                    %span Saint Pabu
                    %br/
                    Année de naissance :
                    %span né en 1963
                    %br/
                %li
                  %img{:alt => "#", :src => image_path("thumbs/at.png")}
                  %p
                    %span ALEX THOMSON
                    Hugo Boss
                    %br/
                    Nationalité :
                    %span Française
                    %br/
                    Résidence :
                    %span La Teste de Buch (Gironde)
                    %br/
                    Année de naissance :
                    %span né en 1974
                    %br/
                %li
                  %img{:alt => "#", :src => image_path("thumbs/dw.png")}
                  %p
                    %span La Rochelle
                    Akena Vérandas
                    %br/
                    Nationalité :
                    %span Française
                    %br/
                    Résidence :
                    %span La Rochelle
                    %br/
                    Année de naissance :
                    %span né en 1955
                    %br/
#map_canvas{:style => "width: 100%; min-height: 100%;"}